*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Source Sans 3', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #eee;
  --clr-dark: #303030;
  --clr-accent: #2feeee;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

.btn {
  display: inline-block;
  padding: 0.5em 2em;
  background-color: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transform: scale(0.9);
  transition: transform 200ms ease-in-out;
  border-radius: 5px;
  text-align: center;
}

.btn:hover {
  transform: scale(1);
}

h1,
h2,
h3 {
  line-height: 1;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section-title {
  margin-bottom: 0.25em;
}

.section-title-intro {
  font-weight: var(--fw-reg);
}

.section-title-intro strong {
  display: block;
}

.section-subtitle {
  font-size: var(--fs-h3);
}

.section-subtitle-intro {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  padding: 0.25em 1em;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  inset: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.nav-link {
  color: inherit;
  text-decoration: none;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  font-family: var(--ff-secondary);
}

.nav-link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 2em;
  top: 2em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-dark);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

.nav-open .hamburger,
.nav-open .hamburger::before {
  background: var(--clr-accent);
}

.logo {
  font-size: var(--fs-h2);
}

.intro {
  position: relative;
}

.intro-img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    column-gap: 1em;
    grid-template-areas:
      'title img'
      'subtitle img';
    grid-template-columns: max-content min-content;
  }

  .intro-img {
    grid-area: img;
    min-width: 300px;
    position: relative;
    left: 1em;
    z-index: 2;
    aspect-ratio: 4/3;
  }

  .section-subtitle-intro {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    width: calc(100% + 2em);
  }
}

.about {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.section-title-about {
  color: var(--clr-accent);
}

.section-title-about::after {
  content: '';
  display: block;
  width: calc(100%);
  height: 1px;
  max-width: 0.5em auto 1em;
  background: currentColor;
}

.about-content,
.skills {
  margin-bottom: 1.25em;
}

.skills-list {
  display: flex;
  list-style: none;
  font-size: var(--fs-h2);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.subsection-title {
  margin-bottom: 1em;
}

.section-title-projects {
  margin-bottom: 0.5em;
}

.projects-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  overflow-x: scroll;
  column-gap: 2em;
  padding: 1em;
}

.project {
  min-width: 200px;
  box-shadow: var(--bs);
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1em;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.project-title::after {
  content: '';
  display: block;
  width: calc(100%);
  height: 1px;
  max-width: 0.5em auto 1em;
  background: currentColor;
}

@media (min-width: 600px) {
  .project {
    min-width: 300px;
  }
}

footer {
  background: #222;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

footer a {
  color: inherit;
  text-decoration: none;
}

.footer-link {
  font-weight: var(--fw-bold);
}

.footer-link:hover,
.social-list-link:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
}

.social-list-items {
  margin: 0 1em;
}

.social-list-link {
  padding: 0.5em;
}
